pipeline/pl_create_silver_trip_data_green.json
{
	"name": "pl_create_silver_trip_data_green",
	"properties": {
		"activities": [
			{
				"name": "Get trip year and month",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "use nyc_taxi_ldw;\n\nselect DISTINCT \nyear , month\nfrom\nbronze.vw_trip_data_green_csv;\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ForEach year and month",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get trip year and month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get trip year and month').output.resultSets[0].Rows",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Deleting the partation",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Ds_nyc_taxi_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "silver/trip_data_green/year=@{item().year}/month=@{item().month}",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Create partation",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Deleting the partation",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[silver].[usp_silver_trip_data_green]",
								"storedProcedureParameters": {
									"month": {
										"value": {
											"value": "@item().month",
											"type": "Expression"
										},
										"type": "String"
									},
									"year": {
										"value": {
											"value": "@item().year\r\n",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "create silver views",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach year and month",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "USE nyc_taxi_ldw;"
						},
						{
							"type": "NonQuery",
							"text": "DROP VIEW IF EXISTS silver.vw_trip_data_green;"
						},
						{
							"type": "NonQuery",
							"text": "CREATE VIEW silver.vw_trip_data_green\nAS\nSELECT \n    result.filepath(1) AS year,       -- safer alias\n    result.filepath(2) AS month,      -- safer alias\n    result.*                               \nFROM OPENROWSET(\n    BULK 'silver/trip_data_green/year=*/month=*/*.parquet',\n    DATA_SOURCE = 'nyc_taxi_src',\n    FORMAT = 'PARQUET'\n         )\n WITH \n (\n    vendor_id                INT,\n    lpep_pickup_datetime    VARCHAR(50),    -- read as varchar first if files sometimes malformed\n    lpep_dropoff_datetime   VARCHAR(50),\n    store_and_fwd_flag      CHAR(1),\n    rate_code_id              INT,\n    pu_location_id            INT,\n    do_location_id            INT,\n    passenger_count         INT,\n    trip_distance           FLOAT,\n    fare_amount             FLOAT,\n    extra                   FLOAT,\n    mta_tax                 FLOAT,\n    tip_amount              FLOAT,\n    tolls_amount            FLOAT,\n    ehail_fee               INT,\n    improvement_surcharge   FLOAT,\n    total_amount            FLOAT,\n    payment_type            INT,\n    trip_type               INT,\n    congestion_surcharge    FLOAT\n) AS [result];"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": []
	}
}