bmksynapsedemows/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "bmksynapsedemows"
		},
		"bmksynapsedemows-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'bmksynapsedemows-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:bmksynapsedemows.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"Ls_bmksynapsedemodl_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://bmksynapsedemodl.dfs.core.windows.net/"
		},
		"bmksynapsedemows-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://bmksynapsedemodl.dfs.core.windows.net"
		},
		"ls_serverless_sql_pool_db_nyc_taxi_ldw_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "tcp:bmksynapsedemows-ondemand.sql.azuresynapse.net,1433"
		},
		"ls_serverless_sql_pool_db_nyc_taxi_ldw_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "nyc_taxi_ldw"
		},
		"nyc_tlc_green_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'nyc_tlc_green'"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/pl_create_silver_taxi_zone_script')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "delete_silver_taxi_zone_folder",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Ds_bmksynapsedemodl",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "creating_silver_taxi_zone",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "delete_silver_taxi_zone_folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "NonQuery",
									"text": "IF OBJECT_ID('silver.taxi_zone') IS NOT NULL\n    DROP EXTERNAL TABLE silver.taxi_zone;"
								},
								{
									"type": "NonQuery",
									"text": " CREATE EXTERNAL TABLE silver.taxi_zone\n                  WITH(\n                        LOCATION = 'silver/taxi_zone',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = parquet_file_format,                      \n                    ) \nAS\nSELECT * FROM bronze.taxi_zone;"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/Ds_bmksynapsedemodl')]",
				"[concat(variables('workspaceId'), '/linkedServices/ls_serverless_sql_pool_db_nyc_taxi_ldw')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/pl_create_silver_taxi_zone_usp')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "delete_silver_taxi_zone_folder",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Ds_bmksynapsedemodl",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "create silver taxi zone table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "delete_silver_taxi_zone_folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[silver].[usp_silver_taxi_zone]"
						},
						"linkedServiceName": {
							"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/Ds_bmksynapsedemodl')]",
				"[concat(variables('workspaceId'), '/linkedServices/ls_serverless_sql_pool_db_nyc_taxi_ldw')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Ds_bmksynapsedemodl')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Ls_bmksynapsedemodl",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silver/taxi_zone",
						"fileSystem": "nyc-taxi-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "location_id",
						"type": "INT_16"
					},
					{
						"name": "borough",
						"type": "UTF8"
					},
					{
						"name": "zone",
						"type": "UTF8"
					},
					{
						"name": "service_zone",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/Ls_bmksynapsedemodl')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Ls_bmksynapsedemodl')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Ls_bmksynapsedemodl_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/bmksynapsedemows-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('bmksynapsedemows-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/bmksynapsedemows-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('bmksynapsedemows-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ls_serverless_sql_pool_db_nyc_taxi_ldw')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('ls_serverless_sql_pool_db_nyc_taxi_ldw_properties_typeProperties_server')]",
					"database": "[parameters('ls_serverless_sql_pool_db_nyc_taxi_ldw_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SystemAssignedManagedIdentity"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/nyc_tlc_green')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('nyc_tlc_green_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/10_create_silver_rate_code')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\n\nIF OBJECT_ID('silver.rate_code') IS NOT NULL\n    DROP EXTERNAL TABLE silver.rate_code\nGO\n CREATE EXTERNAL TABLE silver.rate_code\n                  WITH(\n                        LOCATION = 'silver/rate_code',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = parquet_file_format,                      \n                    ) \nAS\nSELECT * \nFROM OPENROWSET(\n        BULK 'raw/rate_code.json',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0b'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS rate_code\n    CROSS APPLY OPENJSON(jsondoc)\n    WITH\n    (\n        rate_code_id TINYINT,\n        rate_code VARCHAR(20) \n    )\nGO\n\nSELECT * FROM silver.rate_code;\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/10_explore_green_trip_data_delta')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery;\n\nSELECT TOP 100\n        *\n    FROM OPENROWSET(\n        BULK 'trip_data_green_delta',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'DELTA'\n    ) AS trip_data\n\nEXEC sp_describe_first_result_set N'SELECT TOP 100\n        *\n    FROM OPENROWSET(\n        BULK ''trip_data_green_delta'',\n        DATA_SOURCE = ''nyc_taxi_data_raw'',\n        FORMAT = ''DELTA''\n    ) AS trip_data'\n\n\nSELECT TOP 100\n        *\n    FROM OPENROWSET(\n        BULK 'trip_data_green_delta',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'DELTA'\n    )\n    WITH(\n        VendorID INT,\n        lpep_pickup_datetime datetime2(7),\n        lpep_dropoff_datetime datetime2(7),\n        store_and_fwd_flag char(1),\n        RatecodeID int,\n        PULocationID int,\n        DOLocationID int,\n        passenger_count int,\n        trip_distance float,\n        fare_amount float,\n        extra float,\n        mta_tax float,\n        tip_amount float,\n        tolls_amount float,\n        ehail_fee int,\n        improvement_surcharge float,\n        total_amount float,\n        payment_type int,\n        trip_type int,\n        congestion_surcharge float,\n        year varchar(4),\n        month varchar(2)\n     ) AS trip_data\n\n---for effiency select required fields\nSELECT TOP 100\n        *\n    FROM OPENROWSET(\n        BULK 'trip_data_green_delta/',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'DELTA'\n    )\n    WITH(\n        \n        tip_amount float,\n        trip_type int\n     ) AS trip_data;\n\n\n-----need to be like this for delta but not like above we need to mention the partationing columns if we query delta files------------------\nSELECT TOP 100\n        *\n    FROM OPENROWSET(\n        BULK 'trip_data_green_delta',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'DELTA'\n    )\n    WITH(\n        \n        tip_amount float,\n        trip_type int,\n        year VARCHAR(5),\n        month VARCHAR(5)\n     ) AS trip_data;\n\n\n------------------------------------------------------------\nSELECT COUNT(distinct(payment_type))\n    FROM OPENROWSET(\n        BULK 'trip_data_green_delta',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'DELTA'\n    )AS trip_data;\n\n-------------------------------------------\nSELECT COUNT(distinct(payment_type))\n    FROM OPENROWSET(\n        BULK 'trip_data_green_delta',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'DELTA'\n    )AS trip_data\nWHERE YEAR = '2020' and MONTH = '01';\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/11_checking for duplicates')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery\n---- check for  duplicates in taxizone data\n\nSELECT\n    location_id,\n    COUNT(1) as no_of_records\nFROM\n    OPENROWSET(\n        BULK 'taxi_zone.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE\n    ) \n     WITH\n    (\n        location_id SMALLINT 1 ,\n        borough VARCHAR(15) 2,\n        zone VARCHAR(50) 3,\n        service_zone VARCHAR(15) 4\n    )\n    AS [result]\n    GROUP BY location_id\n    HAVING COUNT(1) > 1\n\n\n\nSELECT\n    borough,\n    COUNT(1) as no_of_records\nFROM\n    OPENROWSET(\n        BULK 'taxi_zone.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE\n    ) \n     WITH\n    (\n        location_id SMALLINT 1 ,\n        borough VARCHAR(15) 2,\n        zone VARCHAR(50) 3,\n        service_zone VARCHAR(15) 4\n    )\n    AS result\n    GROUP BY borough\n    HAVING COUNT(1) > 1\n\n\n\n    \n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/11_create_silver_payment_type')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\n\nIF OBJECT_ID('silver.payment_type') IS NOT NULL\n    DROP EXTERNAL TABLE silver.payment_type\nGO\n CREATE EXTERNAL TABLE silver.payment_type\n                  WITH(\n                        LOCATION = 'silver/payment_type',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = parquet_file_format,                      \n                    ) \nAS\nSELECT payment_type, payment_type_desc_value\n    FROM OPENROWSET(\n        BULK 'raw/payment_type_array.json',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0a'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS payment_type\n    CROSS APPLY OPENJSON(jsondoc)\n    WITH(\n        payment_type SMALLINT,\n        payment_type_desc NVARCHAR(MAX) AS JSON\n\n    )\n    CROSS APPLY OPENJSON(payment_type_desc)\n    WITH(\n        sub_type SMALLINT,\n        payment_type_desc_value VARCHAR(20) '$.value'\n    );\n\nSELECT * FROM silver.payment_type\n   ",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/12_data_quality_checks')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery\n----identifing the data quality issues in trip total amount\n\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\n\nSELECT\n    MIN(total_amount) as min_total_amount,\n    max(total_amount) as max_total_amount,\n    AVG(total_amount) as avu_total_amount,\n    COUNT(1) as total_no_of_records,\n    count(total_amount) AS not_null_total_no_of_records\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\n--- for all the files in that folder\nSELECT\n    MIN(total_amount) as min_total_amount,\n    max(total_amount) as max_total_amount,\n    AVG(total_amount) as avu_total_amount,\n    COUNT(1) as total_no_of_records,\n    count(total_amount) AS not_null_total_no_of_records\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=*/month=*/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\n    \n---------------------------trying to rectify the negative total amount----\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\nWHERE total_amount < 0\n\n\nSELECT payment_type, COUNT(1) as no_of_payments\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS result\n--WHERE total_amount < 0\nGROUP BY payment_type\nORDER BY payment_type;\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/12_silver_trip_data_green')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\nGO\n\n--IF OBJECT_ID('silver.trip_data_green') IS NOT NULL\n  --  DROP EXTERNAL TABLE silver.trip_data_green\n--GO\n --CREATE EXTERNAL TABLE silver.trip_data_green\n   --               WITH(\n     --                   LOCATION = 'silver/trip_data_green',\n       --                 DATA_SOURCE = nyc_taxi_src,\n         --               FILE_FORMAT = parquet_file_format,                      \n           --         ) \n--AS\n--SELECT * FROM bronze.trip_data_green_csv;\n\n--SELECT * FROM silver.trip_data_green;\n\n\nEXEC silver.usp_silver_trip_data_green '2020','01'\nEXEC silver.usp_silver_trip_data_green '2020','02'\nEXEC silver.usp_silver_trip_data_green '2020','03'\nEXEC silver.usp_silver_trip_data_green '2020','04'\nEXEC silver.usp_silver_trip_data_green '2020','05'\nEXEC silver.usp_silver_trip_data_green '2020','06'\nEXEC silver.usp_silver_trip_data_green '2020','07'\nEXEC silver.usp_silver_trip_data_green '2020','08'\nEXEC silver.usp_silver_trip_data_green '2020','09'\nEXEC silver.usp_silver_trip_data_green '2020','10'\nEXEC silver.usp_silver_trip_data_green '2020','11'\nEXEC silver.usp_silver_trip_data_green '2020','12'\nEXEC silver.usp_silver_trip_data_green '2021','01'\nEXEC silver.usp_silver_trip_data_green '2021','02'\nEXEC silver.usp_silver_trip_data_green '2021','03'\nEXEC silver.usp_silver_trip_data_green '2021','04'\nEXEC silver.usp_silver_trip_data_green '2021','05'\nEXEC silver.usp_silver_trip_data_green '2021','06'\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/13_create_silver_views')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\nGO\n\n\nCREATE VIEW silver.vw_trip_data_green\nAS\nSELECT \n    result.filepath(1) AS year,       -- safer alias\n    result.filepath(2) AS month,      -- safer alias\n    result.*                               \nFROM OPENROWSET(\n    BULK 'silver/trip_data_green/year=*/month=*/*.parquet',\n    DATA_SOURCE = 'nyc_taxi_src',\n    FORMAT = 'PARQUET'\n         )\n WITH \n (\n    vendor_id                INT,\n    lpep_pickup_datetime    VARCHAR(50),    -- read as varchar first if files sometimes malformed\n    lpep_dropoff_datetime   VARCHAR(50),\n    store_and_fwd_flag      CHAR(1),\n    rate_code_id              INT,\n    pu_location_id            INT,\n    do_location_id            INT,\n    passenger_count         INT,\n    trip_distance           FLOAT,\n    fare_amount             FLOAT,\n    extra                   FLOAT,\n    mta_tax                 FLOAT,\n    tip_amount              FLOAT,\n    tolls_amount            FLOAT,\n    ehail_fee               INT,\n    improvement_surcharge   FLOAT,\n    total_amount            FLOAT,\n    payment_type            INT,\n    trip_type               INT,\n    congestion_surcharge    FLOAT\n) AS [result]\nGO\n\nSELECT TOP 100 * FROM silver.vw_trip_data_green\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/13_join_data')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery\n\n--identify no of trips made from each borough(i.e pickup location)--\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01/',\n        FORMAT = 'PARQUET',\n        DATA_SOURCE = 'nyc_taxi_data_raw'\n    ) AS [result]\n--- use this line (WHERE PULocationID is NULL) to check no null values present in pickuplocation id\n--developing the join condion using openrowset function\n\nSELECT taxi_zone.borough, COUNT(1) as no_of_trips\nFROM \n    OPENROWSET( \n                 BULK 'trip_data_green_parquet/year=2020/month=01',\n                 FORMAT = 'PARQUET',\n                 DATA_SOURCE = 'nyc_taxi_data_raw'\n                 )AS trip_data\n                    JOIN----joining trip data with taxizone data here\n                        OPENROWSET(\n                                    BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone_without_header.csv',\n                                    FORMAT = 'CSV',\n                                    PARSER_VERSION = '2.0',\n                                    FIRST_ROW = 2\n                                    )\n                                     WITH(\n                                        location_id SMALLINT 1,\n                                        borough VARCHAR(15) 2,\n                                        zone VARCHAR(50) 3,\n                                        service_zone VARCHAR(15) 4       \n                                        ) AS taxi_zone\n                    ON  trip_data.PULocationID = taxi_zone.location_id\nGROUP BY taxi_zone.borough\nORDER BY no_of_trips;\n\n\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/14_create_gold_trip_data_green')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\n/*\nSELECT\n        td.year,\n        td.month,\n        tz.borough,\n        CONVERT(DATE, td.lpep_pickup_datetime) as trip_date,\n        cal.day_name AS trip_day,\n        CASE WHEN cal.day_name IN ('Saturday','Sunday') THEN 'Y' ELSE 'N' END AS trip_day_weekend_ind,\n        SUM(CASE WHEN pt.payment_type_desc_value = 'Credit card' THEN 1 ELSE 0 END) AS card_trip_count,\n        SUM(CASE WHEN pt.payment_type_desc_value = 'Cash' THEN 1 ELSE 0 END) AS cash_trip_count\n    FROM silver.vw_trip_data_green td\n    JOIN silver.taxi_zone tz ON (td.pu_location_id = tz.location_id)\n    JOIN silver.calendar cal ON (cal.date = CONVERT(DATE, td.lpep_pickup_datetime))\n    JOIN silver.payment_type pt ON (td.payment_type = pt.payment_type)\n    WHERE td.year = '2020'\n        AND td.month = '01'\n    GROUP BY td.year,\n        td.month,\n        tz.borough,\n        CONVERT(DATE, td.lpep_pickup_datetime),\n        cal.day_name\n    */\n\nEXEC gold.usp_gold_trip_data_green'2020','01'\n\nEXEC gold.usp_gold_trip_data_green'2020','02'\n\nEXEC gold.usp_gold_trip_data_green'2020','03'\n\nEXEC gold.usp_gold_trip_data_green'2020','04'\n\nEXEC gold.usp_gold_trip_data_green'2020','05'\n\nEXEC gold.usp_gold_trip_data_green'2020','06'\n\nEXEC gold.usp_gold_trip_data_green'2020','07'\n\nEXEC gold.usp_gold_trip_data_green'2020','08'\n\nEXEC gold.usp_gold_trip_data_green'2020','09'\n\nEXEC gold.usp_gold_trip_data_green'2020','10'\n\nEXEC gold.usp_gold_trip_data_green'2020','11'\n\nEXEC gold.usp_gold_trip_data_green'2020','12'\n\nEXEC gold.usp_gold_trip_data_green'2021','01'\n\nEXEC gold.usp_gold_trip_data_green'2021','02'\n\nEXEC gold.usp_gold_trip_data_green'2021','03'\n\nEXEC gold.usp_gold_trip_data_green'2021','04'\n\nEXEC gold.usp_gold_trip_data_green'2021','05'\n\nEXEC gold.usp_gold_trip_data_green'2021','06'\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/14_transformations')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery\n----no of trips made by duration in hours--\nSELECT \n    TOP 100 *\n    FROM \n    OPENROWSET(  BULK 'trip_data_green_parquet/**',\n                 FORMAT = 'PARQUET',\n                 DATA_SOURCE = 'nyc_taxi_data_raw'\n    )AS trip_data\n----using TSQL  DATEDIFF function to find the difference between the pickup and drop\nSELECT TOP 100\n    DATEDIFF(MINUTE,lpep_dropoff_datetime,lpep_pickup_datetime)/60 as from_hour,\n    (DATEDIFF(MINUTE,lpep_dropoff_datetime,lpep_pickup_datetime)/60)+1 as to_hour,\n    COUNT(1) as no_of_trips\n    FROM \n    OPENROWSET(  BULK 'trip_data_green_parquet/**',\n                 FORMAT = 'PARQUET',\n                 DATA_SOURCE = 'nyc_taxi_data_raw'\n    )AS trip_data\nGROUP BY DATEDIFF(MINUTE,lpep_dropoff_datetime,lpep_pickup_datetime)/60,\n    (DATEDIFF(MINUTE,lpep_dropoff_datetime,lpep_pickup_datetime)/60)+1\nORDER BY DATEDIFF(MINUTE,lpep_dropoff_datetime,lpep_pickup_datetime)/60,\n    (DATEDIFF(MINUTE,lpep_dropoff_datetime,lpep_pickup_datetime)/60)+1;",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/15_assignments using CTE and joining')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "USE nyc_taxi_discovery;\n/*\nidentify the percentage of cash and credit card trips y borough\nexample data as below\n-------------------------------------------------------------------------------------------------------------------\nborough\t\t\ttotal_trips\t\tcash_trips\t\tcard_trips\t\tcash_trips_percentage\t\tcard_trips_percentage\n--------------------------------------------------------------------------------------------------------------------\nBronx\t\t\t2019\t\t\t751\t\t\t\t1268\t\t\t37.20\t\t\t\t\t\t62.80\nBrooklyn\t\t6435\t\t\t2192\t\t\t4243\t\t\t34.06\t\t\t\t\t\t65.94\n---------------------------------------------------------------------------------------------------------------------\n*/\n\nWITH v_payment_type AS\n(\n    \nSELECT CAST(JSON_VALUE(jsondoc,'$.payment_type') as smallint) payment_type,\n        CAST(JSON_VALUE(jsondoc,'$.payment_type_desc[0].value') as VARCHAR(15)) payment_type_desc\n    FROM OPENROWSET(\n        BULK 'payment_type_array.json',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0a'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS paymenttype\n),\nv_taxi_zone AS\n(\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'taxi_zone.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE\n    )\n     WITH\n    (\n        location_id SMALLINT 1 ,\n        borough VARCHAR(15) 2,\n        zone VARCHAR(50) 3,\n        service_zone VARCHAR(15) 4\n    )\n    AS taxi_zone\n),\n\nv_trip_data AS \n(\n    SELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01/**',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\n)\n\n\nSELECT\n    v_taxi_zone.borough,\n    COUNT(1) as total_trips,\n    SUM(case when v_payment_type.payment_type_desc = 'Cash' THEN 1 ELSE 0 END) as cash_trips,\n    SUM(case when v_payment_type.payment_type_desc = 'Credit card' THEN 1 ELSE 0 END) as card_trips,\n    CAST((SUM(case when v_payment_type.payment_type_desc = 'Cash' THEN 1 ELSE 0 END) / CAST(count(1) AS DECIMAL)) * 100 as DECIMAL(5,2)) as cash_trips_percentage,\n    CAST((SUM(case when v_payment_type.payment_type_desc = 'Credit card' THEN 1 ELSE 0 END) / CAST(count(1) AS DECIMAL)) * 100 as DECIMAL(5,2)) as card_trips_percentage\nFrom v_trip_data\nLEFT JOIN v_payment_type ON(v_trip_data.payment_type = v_payment_type.payment_type)\nLEFT join v_taxi_zone ON (v_trip_data.PULocationID = v_taxi_zone.location_id)\nwhere v_payment_type.payment_type_desc IN('Cash','Credit card')\nGroup by v_taxi_zone.borough\norder by v_taxi_zone.borough\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/15_create_gold_views')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\nGO\n\n\n\n\nCREATE VIEW gold.vw_trip_data_green\nAS\nSELECT \n    result.filepath(1) AS year,       -- safer alias\n    result.filepath(2) AS month,      -- safer alias\n    result.*                               \nFROM OPENROWSET(\n    BULK 'gold/trip_data_green/year=*/month=*/*.parquet',\n    DATA_SOURCE = 'nyc_taxi_src',\n    FORMAT = 'PARQUET'\n         )\n WITH \n (\n    borough     VARCHAR(15),\n    trip_date   DATE,\n    trip_day    VARCHAR(15),\n    trip_day_weekend_ind    CHAR(1),\n    card_trip_count INT,\n    cash_trip_count INT,\n    street_hail_trip_count INT,\n    dispatch_trip_count INT,\n    trip_distance FLOAT,\n    trip_duration INT,\n    fare_amount FLOAT\n\n) AS [result]\nGO\n\nSELECT TOP 100 * FROM gold.vw_trip_data_green\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/1_create_databaseand all_layercreation')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE master\nGO\n\nCREATE DATABASE nyc_taxi_ldw\nGO\n\nALTER DATABASE nyc_taxi_ldw\nCOLLATE Latin1_General_100_BIN2_UTF8;\nGO\n\nUSE nyc_taxi_ldw\nGO\n\nCREATE SCHEMA bronze\nGO\n\nCREATE SCHEMA silver\nGO\n\nCREATE SCHEMA gold\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/1_exploreTaxizone')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "-- This is auto-generated code\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE,\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n    ) AS [result]\n\n\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'abfss://nyc-taxi-data@bmksynapsedemodl.dfs.core.windows.net/raw/taxi_zone.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE\n    ) AS [result]\n\n-------------------------------------------------------------------\n--Examine the Datatypes for the columns\n-- check current DB\n\nEXEC sp_describe_first_result_set N'SELECT\n     *\nFROM\n    OPENROWSET(\n        BULK ''https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone.csv'',\n        FORMAT = ''CSV'',\n        PARSER_VERSION = ''2.0'',\n        HEADER_ROW = TRUE\n      )AS [result]'\n\n------------------------------------------------\n\nSELECT\n    MAX(LEN(LocationID)) as Len_locationid,\n    MAX(Len(Borough)) as Len_Borough,\n    MAX(len(Zone)) as Zone,\n    MAX(len(service_zone)) as Len_service_zone\nFROM\n    OPENROWSET(\n        BULK 'abfss://nyc-taxi-data@bmksynapsedemodl.dfs.core.windows.net/raw/taxi_zone.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE\n    ) AS [result]\n\n--- use with clause to provide explict datatypes-----------\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE,\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n    ) \n    with (\n        LocationID SMALLINT,\n        Borough VARCHAR(15),\n        Zone VARCHAR(50),\n        service_zone VARCHAR(15)\n    )AS [result]\n\n---------------------------------------------------------------------------------\nEXEC sp_describe_first_result_set N'SELECT\n     *\nFROM\n    OPENROWSET(\n        BULK ''https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone.csv'',\n        FORMAT = ''CSV'',\n        PARSER_VERSION = ''2.0'',\n        HEADER_ROW = TRUE,\n        FIELDTERMINATOR = '','',\n        ROWTERMINATOR = ''\\n''\n    ) \n    with (\n        LocationID SMALLINT,\n        Borough VARCHAR(15),\n        Zone VARCHAR(50),\n        service_zone VARCHAR(15)\n    )AS [result]'\n\n------------------------------------------------------------------------------------------------------\nSELECT name, collation_name from sys.databases\n-------------------------------------------------------------------------------------------------------------\n--specify utf8 collation  \nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE,\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n    ) \n    with (\n        LocationID SMALLINT,\n        Borough VARCHAR(15) COLLATE Latin1_General_100_CI_AI_SC_UTF8,\n        Zone VARCHAR(50) COLLATE Latin1_General_100_CI_AI_SC_UTF8,\n        service_zone VARCHAR(15) COLLATE Latin1_General_100_CI_AI_SC_UTF8\n    )AS [result]\n------------------------------------------------------------------------\nCREATE DATABASE nyc_taxi_discovery\nCOLLATE Latin1_General_100_CI_AI_SC_UTF8;\n\nuse nyc_taxi_discovery\n\nSELECT name, collation_name from sys.databases\n\n-------------------------------------------------------------\n--select only subset of columns\n\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE,\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n    ) \n    with (\n        Borough VARCHAR(15),\n        Zone VARCHAR(50)\n       \n    )AS [result]\n\n---------------\n\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone_without_header.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n)\nWITH(\n    LocationID SMALLINT,\n        Borough VARCHAR(15),\n        Zone VARCHAR(50),\n        service_zone VARCHAR(15)\n    ) AS [result]\n-------------------------\n---if we define like this subset of columns it takes blindly from starting directly--------------------\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone_without_header.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n)\nWITH(\n        Borough VARCHAR(15),\n        Zone VARCHAR(50)       \n    ) AS [result]\n--correct way of defining subset of column \nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone_without_header.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n)\nWITH(\n        Borough VARCHAR(15) 2,\n        Zone VARCHAR(50) 3\n) AS [result]\n---- we can get any columnal order by puting it in the with statement like zone first and borough second and \n--even change the name of the columns like from line 206 ---\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone_without_header.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n)\nWITH(\n        Zone VARCHAR(50) 3,\n        Borough VARCHAR(15) 2\n) AS [result]\n------+ i took the previous file here which have header using firstrow keyword without specifing header as true ------\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/taxi_zone.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        FIRSTROW = 2,\n        FIELDTERMINATOR = ',',\n        ROWTERMINATOR = '\\n'\n)\nWITH(\n        location_id SMALLINT,\n        borough VARCHAR(15),\n        zone VARCHAR(50),\n        service_zone VARCHAR(15)\n    ) AS [result]\n\n-------------------------------\n--create external datasource\n\nCREATE EXTERNAL DATA SOURCE nyc_taxi_data\nWITH\n(\nlocation = 'abfss://nyc-taxi-data@bmksynapsedemodl.dfs.core.windows.net'\n)\n---------------------------------------------------------------\nCREATE EXTERNAL DATA SOURCE nyc_taxi_data_raw\nWITH\n(\nlocation = 'abfss://nyc-taxi-data@bmksynapsedemodl.dfs.core.windows.net/raw'\n)\n-----------------------------------------------------------------\n--selecting data without using complete address in buk statement--- \nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'taxi_zone.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE\n    ) \n     WITH\n    (\n        location_id SMALLINT 1 ,\n        borough VARCHAR(15) 2,\n        zone VARCHAR(50) 3,\n        service_zone VARCHAR(15) 4\n    )\n    AS [result]\n----\nDROP EXTERNAL DATA SOURCE nyc_taxi_data;\n\nselect name, location from sys.external_data_sources;\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/1_usp_silver_trip_data_green')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/USP"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\nGO\n\nCREATE OR ALTER PROCEDURE silver.usp_silver_trip_data_green\n@year VARCHAR(4),\n@month VARCHAR(2)\nAS\nBEGIN\n   DECLARE @create_sql_stmt NVARCHAR(MAX),\n                @drop_sql_stmt NVARCHAR(MAX);\n        \n\n   SET @create_sql_stmt =\n       'CREATE EXTERNAL TABLE silver.trip_data_green_'+@year+'_'+@month+\n        ' WITH(\n               DATA_SOURCE = nyc_taxi_src,\n               LOCATION = ''silver/trip_data_green/year='+ @year+'/month='+ @month+''',\n               FILE_FORMAT = parquet_file_format,                      \n            ) \n     AS\n        SELECT \n          [VendorID] as vendor_id,\n          [lpep_pickup_datetime],\n          [lpep_dropoff_datetime],\n          [store_and_fwd_flag],\n          [RatecodeID] as rate_code_id,\n          [PULocationID] as pu_location_id,\n          [DOLocationID] as do_location_id,\n          [passenger_count],\n          [trip_distance],\n          [fare_amount],\n          [extra],\n          [mta_tax],\n          [tip_amount],\n          [tolls_amount],\n          [ehail_fee],\n          [improvement_surcharge],\n          [total_amount],\n          [payment_type],\n          [trip_type],\n          [congestion_surcharge]                \n        FROM bronze.vw_trip_data_green_csv\n             WHERE year =  '''+ @year +'''\n                        AND month = '''+ @month +'''';\n        PRINT(@create_sql_stmt)\n\n        EXEC sp_executesql @create_sql_stmt;\n\n        SET @drop_sql_stmt = \n        'DROP EXTERNAL TABLE silver.trip_data_green_' + @year +  '_'  + @month; \n\n        PRINT(@drop_sql_stmt)\n\n        EXEC sp_executesql @drop_sql_stmt;\n\nEND;\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_create_external_datasource')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "use nyc_taxi_ldw\nIF NOT EXISTS (SELECT * FROM sys.external_data_sources WHERE name = 'nyc_taxi_src')\n    CREATE EXTERNAL DATA SOURCE nyc_taxi_src \n    WITH\n    (\n    LOCATION ='https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data',\n\n    )",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_exploring calander data')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use  nyc_taxi_discovery;\n\nSELECT *\n    FROM OPENROWSET(\n        BULK 'calendar.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE\n   \n    )\n    WITH(\n        date_key INT,\n        date    DATE,\n        year    SMALLINT,\n        month   TINYINT,\n        day     TINYINT,\n        day_name varchar(20),\n        day_of_year SMALLINT,\n        week_of_year TINYINT,\n        month_name VARCHAR(20),\n        year_month    INT,\n        year_week INT\n\n    )AS [result]\n\n---- to get detail datatypes\n\nEXEC sys.sp_describe_first_result_set N'\nSELECT *\n    FROM OPENROWSET(\n        BULK ''calendar.csv'',\n        DATA_SOURCE = ''nyc_taxi_data_raw'',\n        FORMAT =''CSV'',\n        PARSER_VERSION = ''2.0'',\n        HEADER_ROW = TRUE\n   \n    )\n    WITH(\n        date_key INT,\n        date    DATE,\n        year    SMALLINT,\n        month   TINYINT,\n        day     TINYINT,\n        day_name varchar(20),\n        day_of_year SMALLINT,\n        week_of_year TINYINT,\n        month_name VARCHAR(20),\n        year_month    INT,\n        year_week INT\n\n    )AS [result]'\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/2_usp_gold_trip_data_green')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/USP"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\nGO\n\nCREATE OR ALTER PROCEDURE gold.usp_gold_trip_data_green\n@year VARCHAR(4),\n@month VARCHAR(2)\nAS\nBEGIN\n   DECLARE @create_sql_stmt NVARCHAR(MAX),\n                @drop_sql_stmt NVARCHAR(MAX);\n        \n\n   SET @create_sql_stmt =\n       'CREATE EXTERNAL TABLE gold.trip_data_green_'+@year+'_'+@month+\n        ' WITH(\n               DATA_SOURCE = nyc_taxi_src,\n               LOCATION = ''gold/trip_data_green/year='+ @year+'/month='+ @month+''',\n               FILE_FORMAT = parquet_file_format              \n            ) \n     AS\n       SELECT\n        td.year,\n        td.month,\n        tz.borough,\n        CONVERT(DATE, td.lpep_pickup_datetime) as trip_date,\n        cal.day_name AS trip_day,\n        CASE WHEN cal.day_name IN (''Saturday'',''Sunday'') THEN ''Y'' ELSE ''N'' END AS trip_day_weekend_ind,\n        SUM(CASE WHEN pt.payment_type_desc_value = ''Credit card'' THEN 1 ELSE 0 END) AS card_trip_count,\n        SUM(CASE WHEN pt.payment_type_desc_value = ''Cash'' THEN 1 ELSE 0 END) AS cash_trip_count,\n        SUM(CASE WHEN tt.trip_type_desc = ''\"Street-hail\"'' THEN 1 ELSE 0 END) AS street_hail_trip_count,\n        SUM(CASE WHEN tt.trip_type_desc = ''\"Dispatch\"'' THEN 1 ELSE 0 END) AS dispatch_trip_count,\n        SUM(td.trip_distance) AS trip_distance,\n        SUM(td.fare_amount) AS fare_amount,\n        SUM(DATEDIFF(MINUTE, td.lpep_pickup_datetime, td.lpep_dropoff_datetime)) AS trip_duration\n\n    FROM silver.vw_trip_data_green td\n    JOIN silver.taxi_zone tz ON (td.pu_location_id = tz.location_id)\n    JOIN silver.calendar cal ON (cal.date = CONVERT(DATE, td.lpep_pickup_datetime))\n    JOIN silver.payment_type pt ON (td.payment_type = pt.payment_type)\n    JOIN silver.trip_type tt ON (td.trip_type = tt.trip_type)\n             WHERE td.year =  '''+ @year +'''\n                  AND td.month = '''+ @month +'''\n             GROUP BY   td.year,\n                        td.month,\n                        tz.borough,\n                        CONVERT(DATE, td.lpep_pickup_datetime),\n                        cal.day_name'\n         PRINT(@create_sql_stmt)\n\n   EXEC sp_executesql @create_sql_stmt;\n\n   SET @drop_sql_stmt = \n        'DROP EXTERNAL TABLE gold.trip_data_green_'+ @year +'_'+ @month; \n   \n    PRINT(@drop_sql_stmt)\n\n   \n   EXEC sp_executesql @drop_sql_stmt;\n\nEND;\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/3_create_external_fileformat')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\n----external file format for csv parserversion 2.0---\nIF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'csv_file_format')\n        CREATE EXTERNAL FILE FORMAT csv_file_format\n        WITH\n        (  \n            FORMAT_TYPE = DELIMITEDTEXT,\n            FORMAT_OPTIONS  (\n                    FIELD_TERMINATOR= ',',\n                    STRING_DELIMITER = '\"',\n                    First_Row = 2,\n                    USE_TYPE_DEFAULT = FALSE,\n                    Encoding ='UTF8',\n                    PARSER_VERSION = '2.0'\n            )\n        )\n----external file format for csv parserversion 1.0---\nIF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'csv_file_format_pv1')\n        CREATE EXTERNAL FILE FORMAT csv_file_format_pv1\n        WITH\n        (  \n            FORMAT_TYPE = DELIMITEDTEXT,\n            FORMAT_OPTIONS  (\n                    FIELD_TERMINATOR= ',',\n                    STRING_DELIMITER = '\"',\n                    First_Row = 2,\n                    USE_TYPE_DEFAULT = FALSE,\n                    Encoding ='UTF8',\n                    PARSER_VERSION = '1.0'\n            )\n        )\n----external file format for tsv parserversion 2.0---\nIF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'tsv_file_format')\n        CREATE EXTERNAL FILE FORMAT tsv_file_format\n        WITH\n        (  \n            FORMAT_TYPE = DELIMITEDTEXT,\n            FORMAT_OPTIONS  (\n                    FIELD_TERMINATOR= '\\t',\n                    STRING_DELIMITER = '',\n                    First_Row = 2,\n                    USE_TYPE_DEFAULT = FALSE,\n                    Encoding ='UTF8',\n                    PARSER_VERSION = '2.0'\n            )\n        );\n\n----external file format for tsv parserversion 1.0---\nIF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'tsv_file_format_pv1')\n        CREATE EXTERNAL FILE FORMAT tsv_file_format_pv1\n        WITH\n        (  \n            FORMAT_TYPE = DELIMITEDTEXT,\n            FORMAT_OPTIONS  (\n                    FIELD_TERMINATOR= '\\t',\n                    STRING_DELIMITER = '',\n                    First_Row = 2,\n                    USE_TYPE_DEFAULT = FALSE,\n                    Encoding ='UTF8',\n                    PARSER_VERSION = '1.0'\n            )\n        )\n----external file format for parquet file---\nIF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'parquet_file_format')\n        CREATE EXTERNAL FILE FORMAT parquet_file_format\n                 WITH\n                 (      FORMAT_TYPE = PARQUET,\n                        DATA_COMPRESSION = 'org.apache.hadoop.io.compress.SnappyCodec'\n                    )\n----external file format for delta file---\nIF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'delta_file_format')\n        CREATE EXTERNAL FILE FORMAT delta_file_format\n                 WITH\n                 (      FORMAT_TYPE = DELTA,\n                        DATA_COMPRESSION = 'org.apache.hadoop.io.compress.SnappyCodec'\n                    )\n\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/3_usp__create_silver_ taxi_zone')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/USP"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\nGO\n\n\nCREATE OR ALTER PROCEDURE silver.usp_silver_taxi_zone\nAS\nBEGIN \n        IF OBJECT_ID('silver.taxi_zone') IS NOT NULL\n            DROP EXTERNAL TABLE silver.taxi_zone;\n\n        CREATE EXTERNAL TABLE silver.taxi_zone\n                        WITH(\n                                LOCATION = 'silver/taxi_zone',\n                                DATA_SOURCE = nyc_taxi_src,\n                                FILE_FORMAT = parquet_file_format                    \n                            ) \n        AS\n        SELECT * FROM bronze.taxi_zone\nEND\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/3_vendordiscoveryy')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery;\n\nSELECT *\n    FROM OPENROWSET(\n        BULK 'vendor_unquoted.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE\n   \n    ) as vendor;\n\n--------------\nSELECT *\n    FROM OPENROWSET(\n        BULK 'vendor_escaped.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE,\n        ESCAPECHAR = '\\\\'\n   \n    ) as vendor;\n\n--------------------\nSELECT *\n    FROM OPENROWSET(\n        BULK 'vendor.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE,\n        FIELDQUOTE ='\"'\n   \n    ) as vendor;\n\n--or gives same result because it automatically predicts as per data\nSELECT *\n    FROM OPENROWSET(\n        BULK 'vendor.csv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE \n    ) as vendor;\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/4_create_bronzetables')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "use nyc_taxi_ldw\n\n\nIF OBJECT_ID('bronze.taxi_zone') IS NOT NULL\n    DROP EXTERNAL TABLE bronze.taxi_zone\n\n            CREATE EXTERNAL TABLE bronze.taxi_zone\n                    (\n                        location_id SMALLINT,\n                        borough VARCHAR(15),\n                        zone VARCHAR(50),\n                        service_zone VARCHAR(15)\n                    )\n                    WITH(\n                        LOCATION = 'raw/taxi_zone.csv',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = csv_file_format_pv1,\n                        REJECT_VALUE = 10,\n                        REJECTED_ROW_LOCATION = 'rejections/taxi_zone'\n                        \n                    );\n\nSELECT * FROM bronze.taxi_zone;\n\n-- create calander table--\nIF OBJECT_ID('bronze.calendar') IS NOT NULL\n    DROP EXTERNAL TABLE bronze.calendar\n\n\t\tCREATE EXTERNAL TABLE bronze.calendar\n\t\t(\n\t\tdate_key INT,\n        date    DATE,\n        year    INT,\n        month   INT,\n        day     INT,\n        day_name varchar(200),\n        day_of_year INT,\n        week_of_year INT,\n        month_name VARCHAR(200),\n        year_month    VARCHAR(200),\n        year_week INT\n\n\t\t)\n\t\t WITH(\n                        LOCATION = 'raw/calendar.csv',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = csv_file_format_pv1,\n                        REJECT_VALUE = 10,\n                        REJECTED_ROW_LOCATION = 'rejections/calendar'\n                        \n                    );\nSELECT * FROM bronze.calendar;\n\n-------creating external table for vendor\nIF OBJECT_ID('bronze.vendor') IS NOT NULL\n    DROP EXTERNAL TABLE bronze.vendor\n\n\t\tCREATE EXTERNAL TABLE bronze.vendor\n\t\t(\n\t\t\tvendor_id SMALLINT,\n\t\t\tvendor_name VARCHAR(100)\n\t\t)\n\t\t WITH(\n                        LOCATION = 'raw/vendor.csv',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = csv_file_format_pv1,\n                        REJECT_VALUE = 10,\n                        REJECTED_ROW_LOCATION = 'rejections/vendor'\n    \t\t)\n\t\t\nSELECT * FROM bronze.vendor;\n\n----------------------------------trip_type tabble\nIF OBJECT_ID('bronze.trip_type') IS NOT NULL\n    DROP EXTERNAL TABLE bronze.trip_type;\n\n\t\tCREATE EXTERNAL TABLE bronze.trip_type\n\t\t(\n\t\t\ttrip_type INT,\n\t\t\ttrip_type_desc VARCHAR(100)\n\t\t)\n\t\t WITH(\n                        LOCATION = 'raw/trip_type.tsv',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = tsv_file_format,\n                        REJECT_VALUE = 10,\n                        REJECTED_ROW_LOCATION = 'rejections/trip_type'\n                        \n                    )\nSELECT * from bronze.trip_type;\n\n-------------------tripdatagreencsv----\n\nIF OBJECT_ID('bronze.trip_data_green_csv') IS NOT NULL\n    DROP EXTERNAL TABLE bronze.trip_data_green_csv;\n\n\t\tCREATE EXTERNAL TABLE bronze.trip_data_green_csv\n\t\t(\n\t\t\t  VendorID INT,\n                lpep_pickup_datetime datetime2(7),\n                lpep_dropoff_datetime datetime2(7),\n                store_and_fwd_flag char(1),\n                RatecodeID int,\n                PULocationID int,\n                DOLocationID int,\n                passenger_count int,\n                trip_distance float,\n                fare_amount float,\n                extra float,\n                mta_tax float,\n                tip_amount float,\n                tolls_amount float,\n                ehail_fee int,\n                improvement_surcharge float,\n                total_amount float,\n                payment_type int,\n                trip_type int,\n                congestion_surcharge float\n\t\t)\n\t\t WITH(\n                        LOCATION = 'raw/trip_data_green_csv/**',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = csv_file_format    \n            )\nSELECT top (100) *  from bronze.trip_data_green_csv;\n------------------bronze tale for parquet file type---------------------------------------\n\nIF OBJECT_ID('bronze.trip_data_green_parquet') IS NOT NULL\n    DROP EXTERNAL TABLE bronze.trip_data_green_parquet;\n\n\t\tCREATE EXTERNAL TABLE bronze.trip_data_green_parquet\n\t\t(\n\t\t\t     VendorID INT,\n                lpep_pickup_datetime datetime2(7),\n                lpep_dropoff_datetime datetime2(7),\n                store_and_fwd_flag char(1),\n                RatecodeID int,\n                PULocationID int,\n                DOLocationID int,\n                passenger_count int,\n                trip_distance float,\n                fare_amount float,\n                extra float,\n                mta_tax float,\n                tip_amount float,\n                tolls_amount float,\n                ehail_fee int,\n                improvement_surcharge float,\n                total_amount float,\n                payment_type int,\n                trip_type int,\n                congestion_surcharge float\n\t\t)\n\t\t WITH(\n                        LOCATION = 'raw/trip_data_green_parquet/**',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = parquet_file_format    \n            )\nSELECT * from bronze.trip_data_green_parquet;\n------------------bronze files for delta format-----\nIF OBJECT_ID('bronze.trip_data_green_delta') IS NOT NULL\n    DROP EXTERNAL TABLE bronze.trip_data_green_delta;\n\n\t\tCREATE EXTERNAL TABLE bronze.trip_data_green_delta\n\t\t(\n\t\t\t     VendorID INT,\n                lpep_pickup_datetime datetime2(7),\n                lpep_dropoff_datetime datetime2(7),\n                store_and_fwd_flag char(1),\n                RatecodeID int,\n                PULocationID int,\n                DOLocationID int,\n                passenger_count int,\n                trip_distance float,\n                fare_amount float,\n                extra float,\n                mta_tax float,\n                tip_amount float,\n                tolls_amount float,\n                ehail_fee int,\n                improvement_surcharge float,\n                total_amount float,\n                payment_type int,\n                trip_type int,\n                congestion_surcharge float\n\t\t)\n\t\t WITH(\n                        LOCATION = 'raw/trip_data_green_delta/',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = delta_file_format    \n            )\nSELECT TOP(100) * from bronze.trip_data_green_delta",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/4_triptype')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery;\n\nSELECT *\n    FROM OPENROWSET(\n        BULK 'trip_type.tsv',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION = '2.0',\n        HEADER_ROW = TRUE,\n        FIELDTERMINATOR = '\\t'\n    ) as triptype;",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5_create_bronze_views')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "use nyc_taxi_ldw\nGO\n-- creating view of rate_code--\nDROP VIEW IF EXISTS bronze.vw_rate_code\nGO\n\nCREATE VIEW bronze.vw_rate_code\nAS\nSELECT rate_code_id, rate_code\n    FROM OPENROWSET(\n        BULK 'raw/rate_code.json',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0b'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS rate_code\n    CROSS APPLY OPENJSON(jsondoc)\n    WITH\n    (\n        rate_code_id TINYINT,\n        rate_code VARCHAR(20) \n    )\nGO\n\nSELECT * FROM bronze.vw_rate_code\nGO\n\n--creating view of  payment_type--\nDROP VIEW IF EXISTS bronze.vw_payment_type\nGO\n\nCREATE VIEW bronze.vw_payment_type\nAS\nSELECT payment_type, payment_type_desc_value\n    FROM OPENROWSET(\n        BULK 'raw/payment_type_array.json',\n        DATA_SOURCE = 'nyc_taxi_src',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0a'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS payment_type\n    CROSS APPLY OPENJSON(jsondoc)\n    WITH(\n        payment_type SMALLINT,\n        payment_type_desc NVARCHAR(MAX) AS JSON\n\n    )\n    CROSS APPLY OPENJSON(payment_type_desc)\n    WITH(\n        sub_type SMALLINT,\n        payment_type_desc_value VARCHAR(20) '$.value'\n    )\nGO\n\nSELECT * FROM bronze.vw_payment_type\nGO\n\n\n----creating view on trip_data_green_csv---\n\nDROP VIEW IF EXISTS bronze.vw_trip_data_green_csv\nGO\n\nCREATE VIEW bronze.vw_trip_data_green_csv\nAS\nSELECT \n        result.filepath(1) as year,\n        result.filepath(2) as month,\n        result.*\n            FROM openrowset(\n                bulk 'raw/trip_data_green_csv/year=*/month=*/*.csv',\n                DATA_SOURCE='nyc_taxi_src',\n                format = 'CSV',\n                PARSER_VERSION = '2.0',\n                HEADER_ROW = TRUE\n                            )\n        WITH(\n                VendorID INT,\n                lpep_pickup_datetime datetime2(7),\n                lpep_dropoff_datetime datetime2(7),\n                store_and_fwd_flag char(1),\n                RatecodeID int,\n                PULocationID int,\n                DOLocationID int,\n                passenger_count int,\n                trip_distance float,\n                fare_amount float,\n                extra float,\n                mta_tax float,\n                tip_amount float,\n                tolls_amount float,\n                ehail_fee int,\n                improvement_surcharge float,\n                total_amount float,\n                payment_type int,\n                trip_type int,\n                congestion_surcharge float\n            ) AS [result]\nGO\n\nSELECT top (100) *\nFROM bronze.vw_trip_data_green_csv\nWHERE year = '2020' and month = '01'\nGO\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/5_payment_type')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery;\n--using csv parser to read json file and use jsonvalue keyword to get values into columns----\nSELECT CAST(JSON_VALUE(jsondoc,'$.payment_type') as smallint) payment_type,\n        CAST(JSON_VALUE(jsondoc,'$.payment_type_desc') as VARCHAR(15)) payment_type_desc\n    FROM OPENROWSET(\n        BULK 'payment_type.json',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0a'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS paymenttype;\n\nEXEC sp_describe_first_result_set N'SELECT CAST(JSON_VALUE(jsondoc,''$.payment_type'') as smallint) payment_type,\n        CAST(JSON_VALUE(jsondoc,''$.payment_type_desc'') as VARCHAR(15)) payment_type_desc\n    FROM OPENROWSET(\n        BULK ''payment_type.json'',\n        DATA_SOURCE = ''nyc_taxi_data_raw'',\n        FORMAT =''CSV'',\n        PARSER_VERSION =''1.0'',\n        FIELDTERMINATOR = ''0x0b'',\n        FIELDQUOTE = ''0x0b'',\n        ROWTERMINATOR = ''0x0a''\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS paymenttype;'\n\n-- reading data from jason with arrays---\n\nSELECT CAST(JSON_VALUE(jsondoc,'$.payment_type') as smallint) payment_type,\n        CAST(JSON_VALUE(jsondoc,'$.payment_type_desc[0].value') as VARCHAR(15)) payment_type_desc_0,\n        CAST(JSON_VALUE(jsondoc,'$.payment_type_desc[1].value') as VARCHAR(15)) payment_type_desc_01\n    FROM OPENROWSET(\n        BULK 'payment_type_array.json',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0a'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS paymenttype;\n\n---use openjson to explode the array--\n\nSELECT payment_type, payment_type_desc_value\n    FROM OPENROWSET(\n        BULK 'payment_type_array.json',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0a'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS payment_type\n    CROSS APPLY OPENJSON(jsondoc)\n    WITH(\n        payment_type SMALLINT,\n        payment_type_desc NVARCHAR(MAX) AS JSON\n\n    )\n    CROSS APPLY OPENJSON(payment_type_desc)\n    WITH(\n        sub_type SMALLINT,\n        payment_type_desc_value VARCHAR(20) '$.value'\n    );\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/6_create_silver_ taxi_zone')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\n\nIF OBJECT_ID('silver.taxi_zone') IS NOT NULL\n    DROP EXTERNAL TABLE silver.taxi_zone\nGO\n CREATE EXTERNAL TABLE silver.taxi_zone\n                  WITH(\n                        LOCATION = 'silver/taxi_zone',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = parquet_file_format,                      \n                    ) \nAS\nSELECT * FROM bronze.taxi_zone;\n\nSELECT * FROM silver.taxi_zone;\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/6_explore_rate_code')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "USE nyc_taxi_discovery;\n\nSELECT rate_code_id, rate_code\n    FROM OPENROWSET(\n        BULK 'rate_code.json',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0b'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS rate_code\n    CROSS APPLY OPENJSON(jsondoc)\n    WITH(\n        rate_code_id TINYINT,\n        rate_code VARCHAR(20) \n    );\n-------------quering multyline json---\n\n\nSELECT rate_code_id, rate_code\n    FROM OPENROWSET(\n        BULK 'rate_code_multi_line.json',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT ='CSV',\n        PARSER_VERSION ='1.0',\n        FIELDTERMINATOR = '0x0b',\n        FIELDQUOTE = '0x0b',\n        ROWTERMINATOR = '0x0b'\n    )\n    with(\n        jsondoc NVARCHAR(MAX)\n    ) \n    AS rate_code\n    CROSS APPLY OPENJSON(jsondoc)\n    WITH(\n        rate_code_id TINYINT,\n        rate_code VARCHAR(20) \n    );",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/7_create_silver_calendar')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\n\nIF OBJECT_ID('silver.calendar') IS NOT NULL\n    DROP EXTERNAL TABLE silver.calendar\nGO\n CREATE EXTERNAL TABLE silver.calendar\n                  WITH(\n                        LOCATION = 'silver/calendar',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = parquet_file_format,                      \n                    ) \nAS\nSELECT * FROM bronze.calendar;\n\nSELECT * FROM silver.calendar;\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/7_explore_trip_data_green')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery\n\nSELECT TOP 100 *\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=2020/month=01/green_tripdata_2020-01.csv',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n    \n) as result\n\n---------select data from a folder---\n\nSELECT TOP 100 *\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=2020/month=01',--here it is selecting all the files in 01 month \n    -- if we have multipe files it will open all of them at a time and (we do also have wildcard characters usage like for selecting all *,\n    -- for selecting all csv files in that folder we use *.csv after the month=01/*.csv like that) \n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n    \n) as result\n\n---------select data from a sub-folder---\nSELECT TOP 100 *\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=2020/**',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n    \n) as result\n\n------------select data from a particular  sub-folders---\n\nSELECT TOP 100*\nFROM openrowset(\n    bulk ('trip_data_green_csv/year=2020/month=01/*.csv',\n    'trip_data_green_csv/year=2020/month=03/*.csv'),\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n    \n) as result\n\n-------------- if we want to select all the years and all the months data using morethan 1 wildcard characters----\nSELECT TOP 100 *\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=*/month=*/*.csv',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n    \n) as result\n\n-- using filemetadata function filename() to know the address of that record\n\nSELECT TOP 100 \n result.filename() as file_name,\n result.*\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=*/month=*/*.csv',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n    \n) as result\n\n--counting no of records in each file--\n\nSELECT TOP 100 \n result.filename() as file_name,\n COUNT(1) as record_count\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=*/month=*/*.csv',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n) as result\nGROUP BY result.filename()\norder by result.filename();\n\n--- need to count records in specific files if there are in multiple folders\n\nSELECT TOP 100 \n result.filename() as file_name,\n COUNT(1) as record_count\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=*/month=*/*.csv',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n) as result\nWHERE result.filename() IN ('green_tripdata_2020-01.csv','green_tripdata_2020-10.csv','green_tripdata_2021-07.csv')\nGROUP BY result.filename()\norder by result.filename();\n\n---using filepath() function--\n\nSELECT TOP 100 \n result.filename() as file_name,\n result.filepath() as file_path,\n COUNT(1) as record_count\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=*/month=*/*.csv',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n) as result\nGROUP BY result.filename(), result.filepath()\norder by result.filename(), result.filepath();\n-----------------------------------------------------\nSELECT TOP 100 \n  result.filepath(1) as YEAR,\n result.filepath(2) as MONTH,\n COUNT(1) as record_count\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=*/month=*/*.csv',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n) as result\nGROUP BY result.filename(), result.filepath(1),result.filepath(2)\norder by result.filename(), result.filepath(1),result.filepath(2);\n----selecting data from particular mnths-------------------------------------------------------------------------------\nSELECT TOP 100 \nresult.filepath(1) as YEAR,\n result.filepath(2) as MONTH,\n COUNT(1) as record_count\nFROM openrowset(\n    bulk 'trip_data_green_csv/year=*/month=*/*.csv',\n    DATA_SOURCE='nyc_taxi_data_raw',\n    format = 'CSV',\n    PARSER_VERSION = '2.0',\n    HEADER_ROW = TRUE\n) as result\nWHERE result.filepath(1) = '2020'\nAND result.filepath(2) IN ('02','05','09')\nGROUP BY result.filename(), result.filepath(1),result.filepath(2)\norder by result.filename(), result.filepath(1),result.filepath(2);\n\n\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/8_create_trip_type')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\n\nIF OBJECT_ID('silver.trip_type') IS NOT NULL\n    DROP EXTERNAL TABLE silver.trip_type\nGO\n CREATE EXTERNAL TABLE silver.trip_type\n                  WITH(\n                        LOCATION = 'silver/trip_type',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = parquet_file_format,                      \n                    ) \nAS\nSELECT * FROM bronze.trip_type;\n\nSELECT * FROM silver.trip_type;\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/8_explore_tripdata_greentaxi')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery;\n\n-- This code used to read a particular parquet file in that location\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://bmksynapsedemodl.dfs.core.windows.net/nyc-taxi-data/raw/trip_data_green_parquet/year=2020/month=01/part-00000-tid-6133789922049958496-2e489315-890a-4453-ae93-a104be9a6f06-106-1-c000.snappy.parquet',\n        FORMAT = 'PARQUET'\n    ) AS [result]\n-------this code used to read all the files in the month01 folder\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS [result]\n--identify the inferred datatypes----------------------------------\n\nEXEC sp_describe_first_result_set N'SELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK ''trip_data_green_parquet/year=2020/month=01'',\n        DATA_SOURCE = ''nyc_taxi_data_raw'',\n        FORMAT = ''PARQUET''\n    ) AS [result]'\n-------------------defining columns and datatpes\n\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n        )\n\n    WITH(\n                VendorID INT,\n                lpep_pickup_datetime datetime2(7),\n                lpep_dropoff_datetime datetime2(7),\n                store_and_fwd_flag char(1),\n                RatecodeID int,\n                PULocationID int,\n                DOLocationID int,\n                passenger_count int,\n                trip_distance float,\n                fare_amount float,\n                extra float,\n                mta_tax float,\n                tip_amount float,\n                tolls_amount float,\n                ehail_fee int,\n                improvement_surcharge float,\n                total_amount float,\n                payment_type int,\n                trip_type int,\n                congestion_surcharge float\n    ) as result\n\n\n---selecting only 2 columns from the entire parqute file\n\n\n\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n        )\n\n    WITH(\n        VendorID INT,\n        tip_amount FLOAT,\n        trip_distance float,\n        payment_type int\n    ) as result\n\n\n\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/9_assignment_subcolumn_parquet')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/Discovery"
				},
				"content": {
					"query": "use nyc_taxi_discovery;\n--------query using wildcard characters\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\n----------------------------getting filename \nSELECT\n    TOP 100 \n    trip_data.filename() as file_name,\n    trip_data.*\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=2020/month=01/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\n\n---query from subfolders--\nSELECT\n    TOP 100 \n    trip_data.filename() as file_name,\n    trip_data.*\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/**',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\n---use filepath to target partations\nSELECT\n    TOP 100 \n    trip_data.filepath(1) as YEAR,\n    trip_data.filepath(2) as MONTH,\n    COUNT(1) as record_count\nFROM\n    OPENROWSET(\n        BULK 'trip_data_green_parquet/year=*/month=*/*.parquet',\n        DATA_SOURCE = 'nyc_taxi_data_raw',\n        FORMAT = 'PARQUET'\n    ) AS trip_data\nWHERE trip_data.filepath(1) = '2020'\nAND trip_data.filepath(2) IN ('01','05','09')\nGROUP by trip_data.filepath(1),trip_data.filepath(2)\nORDER by trip_data.filepath(1),trip_data.filepath(2)\n\n\n\n\n\n\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_discovery",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/9_create_silver_vendor')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "nyc_taxi/ldw(logical datawarehouse)"
				},
				"content": {
					"query": "USE nyc_taxi_ldw\n\nIF OBJECT_ID('silver.vendor') IS NOT NULL\n    DROP EXTERNAL TABLE silver.vendor\nGO\n CREATE EXTERNAL TABLE silver.vendor\n                  WITH(\n                        LOCATION = 'silver/vendor',\n                        DATA_SOURCE = nyc_taxi_src,\n                        FILE_FORMAT = parquet_file_format,                      \n                    ) \nAS\nSELECT * FROM bronze.vendor;\n\nSELECT * FROM silver.vendor;\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "nyc_taxi_ldw",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		}
	]
}